.git
.github
node_modules
vendor
public/build
public/hot
public/storage
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
storage/app/public/*
bootstrap/cache/*
resources/js/actions
resources/js/routes
resources/js/wayfinder
database/*.sqlite
.env
.env.*
!.env.example
docs
*.md
.idea
.vscode
.pnpm-store
